body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
* {
    color: #fefefe;
}
.card_left {
    width: 18%;
    background: #202123;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8rem;
}
.buttonNewChat {
    display: flex;
    border: 1px solid #393939;
    border-radius: 7px;
    align-items: center;
    padding: 0 0 0 1rem;
    gap: 1rem;
    height: 2.7rem;
    transition: .33s;
    cursor: pointer;
}
.buttonNewChat:hover {
    background: #35374081;
}
.buttonNewChat > i {
    color: #a9a9a9;
    font-size: 1.4rem;
}
.titleButtonNewChat {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
.dayChat {
    color: #a9a9a9aa;
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: 100;
}
.containerChats {
    display: flex;
    margin: .1rem;
    padding: .5rem;
    border-radius: 7px;
    gap: .7rem;
    align-items: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: .85rem;
    color: #f1f1f1;
    cursor: pointer;
    transition: .33s;
}
.containerChats:hover {
    background: #35374081;
}
.containerChats>i {
    color: #8d8c8c;
    font-weight: 900;
}
.decorationHr {
    width: 100%;
    height: 1px;
    background: #414141;
    margin-bottom: .4rem;
}
.contentLeft {
    display: flex;
    align-items: center;
    gap: .7rem;
}
.textUpgrade {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
.NEWDecoration {
    font-family: sans-serif;
    font-weight: 500;
    font-size: .75rem;
    padding: .3rem .5rem .3rem .5rem;
    background: #fae69e;
    color: #000;
    border-radius: 7px;
}
.accountupgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 .5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .33s;
}
.accountupgrade:hover {
    background: #35374081;
}
.containerAccount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 .3rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .33s;
}
.containerAccount:hover {
    background: #35374081;
}
.containerAccount>i {
    color: #8d8c8c;
}
.imgProfile>img {
    width: 1.5rem;
}
.nameProfile {
    font-size: .8rem;
    font-family: sans-serif;
    font-weight: 100;
}
.infoProfile {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.card_rigth {
    width: 82%;
    background: #343541;
    text-align: center;
}
.messagesChat {
    width: 100%;
    height: 83%;
}
.containerBottom {
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.inputChat {
    background: #40414f;
    padding: .6rem;
    border-radius: 6px;
}
.inputChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 2rem .3rem 1rem;
}
.inputChat>input {
    background: transparent;
    font-family: sans-serif;
    border: none;
    outline: none;
    color: #fefefe;
    font-size: 1rem;
    font-weight: 500;
    width: 90%;
}
.inputChat>i {
    color: #8c8c8d;
    font-size: 1.2rem;
    margin-top: 5px;
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .33s;
}
.inputChat>i:hover {
    background:#343541;
}
.textDecoration {
    font-family: sans-serif;
    margin-top: 1rem;
    font-size: .8rem;
    color: #c0c0c2;
}
.textDecoration>a {
    color: #c0c0c2;
}
.responsiveOpenMenu {
    display: none;
    position: absolute;
    background: #343541;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}
.responsiveOpenMenu>i {
    font-size: 2rem;
    padding: .2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .33s;
}
.responsiveOpenMenu>i:hover {
    background:#40414f;
}
.titleheader {
    font-family: sans-serif;
    font-weight: 100;
}

/* Responsive */
@media screen and (max-width:1000px){
    .card_left {
        display: none;
    }
    .card_rigth {
        width: 100%;
    }
    .responsiveOpenMenu {
        display: flex;
    }
}
@media screen and (max-width:400px){
    .containerBottom {
        width: 100%;
    }
    .inputChat {
        border-radius: 0;
    }
    .textDecoration {
        display: none;
    }
}

textarea {
    width: 100%;
    height: 90%;
    resize: none;
    border: none;
    padding: 8px;
    background: #343541;
    color: white;
    outline: none;
    font-size: 1.1rem;
    text-align: justify;
}
  textarea:focus {
    border: 1px solid #8257e5;
}